@charset "UTF-8";
/* ***[Imports]*** */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: "GillSans-Regular";
  src: url("../fonts/GillSans-Regular.ttf");
}

@font-face {
  font-family: "GillSans-Light";
  src: url("../fonts/GillSans-Light.ttf");
}

@font-face {
  font-family: "MuseoSans-Light";
  src: url("../fonts/MuseoSans-Thin.ttf");
}

/* *** /[Imports]*** */
/* ***[Estilos base]*** */
html,
body {
  overflow-x: hidden;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

input,
button {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

::-moz-selection {
  background-color: #00ADAE;
  color: #fff;
}

::selection {
  background-color: #00ADAE;
  color: #fff;
}

/* *** /[Estilos base]*** */
/* ***[Tipografía]*** */
.heading {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 1.667rem;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 1.25rem;
  }
}

.heading-font-main-reg {
  font-family: "GillSans-Regular", "Helvetica", "Arial", sans-serif;
}

.heading-font-alt {
  font-family: "MuseoSans-Light", "Helvetica", "Arial", sans-serif;
}

.heading-med {
  font-size: 1.5rem;
  line-break: 1.667rem;
}

@media screen and (min-width: 768px) {
  .heading-med {
    font-size: 1.125rem;
    line-break: 1.25rem;
  }
}

.heading-small {
  font-size: 1.167rem;
  line-height: 1.333rem;
}

@media screen and (min-width: 768px) {
  .heading-small {
    font-size: 0.875rem;
    line-break: 1rem;
  }
}

.heading-small-2 {
  font-size: 1.667rem;
}

@media screen and (min-width: 768px) {
  .heading-small-2 {
    font-size: 1.25rem;
  }
}

.heading-big {
  font-size: 2.167rem;
}

@media screen and (min-width: 768px) {
  .heading-big {
    font-size: 1.625rem;
  }
}

.paragraph {
  font-family: "GillSans-Regular", "Helvetica", "Arial", sans-serif;
  color: #575756;
  font-size: 1.583rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }
}

.paragraph-small {
  font-size: 1.333rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .paragraph-small {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.paragraph-med {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 768px) {
  .paragraph-med {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }
}

.paragraph-light {
  font-family: "GillSans-Light", "Helvetica", "Arial", sans-serif;
}

.paragraph-font-accent {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

/* *** /[Tipografía]*** */
/* ***[Utilidades]*** */
.container {
  max-width: 850px;
  margin: 0 auto;
}

.container-big {
  max-width: 1050px;
}

.u-border-section {
  border-top: 2px solid #E9E9E9;
}

.u-weight-thin {
  font-weight: 100;
}

.u-weight-light {
  font-weight: 300;
}

.u-weight-normal {
  font-weight: 400;
}

.u-weight-bld {
  font-weight: 700;
}

.u-style-italic {
  font-style: italic;
}

.u-color-secondary {
  color: #585AA4;
}

.u-color-primary {
  color: #00ADAE;
}

.u-responsive-img {
  max-width: 100%;
  height: auto;
}

.u-responsive-img-full {
  width: 100%;
  height: auto;
}

.u-position-relative {
  position: relative;
}

.u-align-center {
  text-align: center;
}

.u-margin-vertical-smallest {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-margin-bottom-smallest {
  margin-bottom: 10px;
}

.u-margin-bottom-small {
  margin-bottom: 1.667rem;
}

@media screen and (min-width: 768px) {
  .u-margin-bottom-small {
    margin-bottom: 1.25rem;
  }
}

.u-margin-bottom-small-2 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .u-margin-bottom-small-2 {
    margin-bottom: 1.875rem;
  }
}

.u-margin-bottom-med {
  margin-bottom: 3.333rem;
}

@media screen and (min-width: 768px) {
  .u-margin-bottom-med {
    margin-bottom: 2.5rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 5.833rem;
}

@media screen and (min-width: 768px) {
  .u-margin-bottom-big {
    margin-bottom: 4.375rem;
  }
}

.u-margin-bottom-big-2 {
  margin-bottom: 6.667rem;
}

@media screen and (min-width: 768px) {
  .u-margin-bottom-big-2 {
    margin-bottom: 5rem;
  }
}

.u-margin-top-big {
  margin-top: 5.833rem;
}

@media screen and (min-width: 768px) {
  .u-margin-top-big {
    margin-top: 4.375rem;
  }
}

.u-padding-vertical-smallest {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-padding-vertical-big {
  padding-top: 5.833rem;
  padding-bottom: 5.833rem;
}

@media screen and (min-width: 768px) {
  .u-padding-vertical-big {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}

.u-padding-top-big {
  padding-top: 5.833rem;
}

@media screen and (min-width: 768px) {
  .u-padding-top-big {
    padding-top: 4.375rem;
  }
}

.u-padding-top-huge {
  padding-top: 9.167rem;
}

@media screen and (min-width: 768px) {
  .u-padding-top-huge {
    padding-top: 6.875rem;
  }
}

.u-padding-bottom-med {
  padding-bottom: 3.333rem;
}

@media screen and (min-width: 768px) {
  .u-padding-bottom-med {
    padding-bottom: 2.5rem;
  }
}

.u-padding-bottom-huge {
  padding-bottom: 9.167rem;
}

@media screen and (min-width: 768px) {
  .u-padding-bottom-huge {
    padding-bottom: 6.875rem;
  }
}

.u-rotate-right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* *** /[Utilidades]*** */
/* ***[Banner]*** */
.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-height: 29.375rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 10rem;
}

@media screen and (min-width: 768px) {
  .banner {
    min-height: 35rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding-top: 7.5rem;
  }
}

.banner-bg {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  height: 100%;
  width: auto;
}

@media screen and (min-width: 768px) {
  .banner-bg {
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}

.banner-bg-full {
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 0;
  min-height: 0;
}

.banner-img {
  max-width: 180px;
  padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .banner-img {
    padding-bottom: 0;
  }
}

.banner-bg-cover {
  background-size: cover;
}

/* *** /[Banner]*** */
/* ***[Logo]*** */
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 68px;
  height: 14px;
}

.logo-img {
  width: 68px;
  height: 14px;
}

/* *** /[Logo]*** */
/* ***[Menu]*** */
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.menu-item {
  position: relative;
}

.menu-item + .menu-item {
  padding-top: 1.875rem;
  margin-top: 1.875rem;
}

@media screen and (min-width: 768px) {
  .menu-item + .menu-item {
    padding-top: 0;
    margin-top: 0;
    padding-left: 1.25rem;
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .menu-item + .menu-item {
    padding-left: 1.875rem;
    margin-left: 1.875rem;
  }
}

.menu-item + .menu-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 1.167rem;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .menu-item + .menu-item:before {
    height: 0.875rem;
    width: 2px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.menu-item-less-margin {
  text-align: center;
  margin-top: 1.875rem;
  padding-top: 1.875rem;
}

@media screen and (min-width: 768px) {
  .menu-item-less-margin {
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-item-less-margin,
  .menu-item-less-margin + .menu-item-less-margin {
    margin-left: 1rem;
    padding-left: 1rem;
  }
}

.menu-item-less-margin:before,
.menu-item-less-margin + .menu-item-less-margin:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 1.167rem;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .menu-item-less-margin:before,
  .menu-item-less-margin + .menu-item-less-margin:before {
    height: 0.875rem;
    width: 2px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.menu-link {
  font-weight: 400;
}

.menu-link:link, .menu-link:hover, .menu-link:focus, .menu-link:active, .menu-link:visited {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .menu-link {
    font-size: 0.75rem;
  }
}

/* *** /[Menu]*** */
/* ***[Title]*** */
.title {
  text-align: center;
  background-image: url("../../static/img/bubble-bg-primary.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 16px;
  padding-bottom: 28px;
  width: 175px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

.title-secondary {
  background-image: url("../../static/img/bubble-bg-secondary.svg");
}

/* *** /[Title]*** */
/* ***[Figure]*** */
@media screen and (min-width: 768px) {
  .figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.figure-img {
  margin-bottom: 4.375rem;
}

@media screen and (min-width: 768px) {
  .figure-img {
    width: 60%;
    margin-right: 4.375rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .figure-img-small {
    width: 30%;
    margin-right: 2.5rem;
  }
}

.figure-caption {
  position: relative;
}

@media screen and (min-width: 768px) {
  .figure-caption {
    width: 40%;
  }
}

.figure-caption:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 4.167rem;
  height: 10px;
  background-color: #283583;
}

@media screen and (min-width: 768px) {
  .figure-caption:before {
    width: 3.125rem;
  }
}

@media screen and (min-width: 768px) {
  .figure-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .figure-center .figure-caption {
    width: 35%;
    margin-top: 20px;
  }
}

/* *** /[Figure]*** */
/* ***[Divider]*** */
.divider {
  width: 6.667rem;
  height: 10px;
  background-color: #00ADAE;
}

@media screen and (min-width: 768px) {
  .divider {
    width: 5rem;
  }
}

.divider-big {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.divider-short {
  height: 4px;
}

.divider-secondary {
  background-color: #585AA4;
}

.divider-gray {
  background-color: #C6C6C6;
}

.divider-gray-light {
  background-color: #E9E9E9;
}

/* *** /[Divider]*** */
/* ***[Form]*** */
.form-input {
  height: 4.167rem;
  border: 1px solid #575756;
  padding: 0 1.333rem;
  width: 100%;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #575756;
}

@media screen and (min-width: 768px) {
  .form-input {
    height: 3.125rem;
    padding: 0 1rem;
    font-size: 1.125rem;
  }
}

.form-input::-webkit-input-placeholder {
  color: #575756;
}

.form-input:-ms-input-placeholder {
  color: #575756;
}

.form-input::-ms-input-placeholder {
  color: #575756;
}

.form-input::placeholder {
  color: #575756;
}

.form-input + .form-input {
  margin-top: 2.0833rem;
}

@media screen and (min-width: 768px) {
  .form-input + .form-input {
    margin-top: 1.5625rem;
  }
}

.form-input-textarea {
  height: 20rem;
  padding: 2.0833rem 1.333rem;
  resize: none;
}

@media screen and (min-width: 768px) {
  .form-input-textarea {
    padding: 1.5625rem 1rem;
  }
}

.form-input-textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-btn {
  margin-top: 2.0833rem;
  border: 1px solid #575756;
  height: 4.167rem;
  padding: 0 3.333rem;
  color: #575756;
  font-family: "GillSans-Regular", "Helvetica", "Arial", sans-serif;
  font-size: 1.583rem;
  float: right;
}

@media screen and (min-width: 768px) {
  .form-btn {
    margin-top: 1.5625rem;
    height: 3.125rem;
    padding: 0 2.5rem;
    font-size: 1.1875rem;
  }
}

/* *** /[Form]*** */
/* ***[Header]*** */
.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53cbcd), color-stop(#12bcbe), color-stop(#03b9ba), color-stop(#10a7b0), color-stop(#1a91a4), to(#198297));
  background-image: -webkit-linear-gradient(top, #53cbcd, #12bcbe, #03b9ba, #10a7b0, #1a91a4, #198297);
  background-image: -o-linear-gradient(top, #53cbcd, #12bcbe, #03b9ba, #10a7b0, #1a91a4, #198297);
  background-image: linear-gradient(to bottom, #53cbcd, #12bcbe, #03b9ba, #10a7b0, #1a91a4, #198297);
  padding: 10px 15px;
  position: absolute;
  z-index: 3;
  top: 3.75rem;
  left: 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    top: 2.8125rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    text-align: left;
  }
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .header-content {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-logo {
  margin-right: 2.5rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .header-logo {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .header-logo {
    margin-right: 1.875rem;
  }
}

.header-nav {
  position: absolute;
  z-index: 1;
  background-color: #00ADAE;
  padding: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: static;
    width: auto;
    padding: 0;
    background: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .header-menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.header-btn {
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-btn-line {
  height: 2px;
  width: 2rem;
  position: relative;
  display: inline-block;
  background-color: #fff;
  margin: 6px 0;
}

.header-btn-line:before, .header-btn-line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 2rem;
  background-color: #fff;
}

.header-btn-line:before {
  top: -6px;
  left: 0;
}

.header-btn-line:after {
  top: 6px;
  left: 0;
}

.header-messages {
  display: inline-block;
  padding-top: 1.875rem;
  margin-top: 1.875rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-messages {
    margin-top: 0;
    padding-top: 0;
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.header-messages:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 1.167rem;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .header-messages:before {
    height: 0.875rem;
    width: 2px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.header-messages-icon {
  width: 17px;
  height: auto;
}

.header-no-margin {
  margin-bottom: 0;
}

/* *** /[Header]*** */
/* ***[Footer]*** */
.footer {
  background-color: #00ADAE;
  padding: 1.333rem 15px 2.9167rem 15px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 1rem 15px 2.1875rem 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
  }
}

/* *** /[Footer]*** */
/* ***[Home]*** */
@media screen and (min-width: 768px) {
  .section-services-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.section-services-group + .section-services-group {
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .section-services-group + .section-services-group {
    margin-top: 1.875rem;
  }
}

.section-services-group + .section-services-group .section-services-item:first-child {
  border-top: 4px solid #E9E9E9;
  padding-top: 1.875rem;
}

@media screen and (min-width: 768px) {
  .section-services-group + .section-services-group .section-services-item:first-child {
    padding-top: 0;
    border-top: 0;
  }
}

.section-services-item {
  text-align: center;
  display: block;
}

.section-services-item:link, .section-services-item:hover, .section-services-item:focus, .section-services-item:active, .section-services-item:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section-services-item {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.section-services-item-icon {
  width: 5rem;
  height: auto;
}

@media screen and (min-width: 768px) {
  .section-services-item-icon {
    width: 3.75rem;
  }
}

.section-services-item-icon-big {
  width: 8.333rem;
}

@media screen and (min-width: 768px) {
  .section-services-item-icon-big {
    width: 6.25rem;
  }
}

.section-services-item + .section-services-item {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 5px solid #E9E9E9;
}

@media screen and (min-width: 768px) {
  .section-services-item + .section-services-item {
    margin-top: 0;
    padding-top: 0;
    padding-left: 1.875rem;
    margin-left: 1.875rem;
    border-top: 0;
    border-left: 5px solid #E9E9E9;
  }
}

@media screen and (min-width: 768px) {
  .section-cases-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .section-cases-group + .section-cases-group .section-cases-item {
    padding-top: 3.75rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .section-cases-group + .section-cases-group .section-cases-item:before {
    content: "";
    position: absolute;
    top: 1.875rem;
    right: -1.75rem;
    height: 2px;
    width: 15rem;
    background-color: #E9E9E9;
  }
}

.section-cases-group + .section-cases-group .section-cases-item:first-child {
  border-top: 5px solid #E9E9E9;
  padding-top: 4.375rem;
  margin-top: 4.375rem;
}

@media screen and (min-width: 768px) {
  .section-cases-group + .section-cases-group .section-cases-item:first-child {
    border-top: 0;
    padding-top: 3.75rem;
    margin-top: 0;
  }
}

.section-cases-item {
  display: block;
}

.section-cases-item:link, .section-cases-item:hover, .section-cases-item:focus, .section-cases-item:active, .section-cases-item:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section-cases-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
}

.section-cases-item-icon {
  width: 25%;
  max-width: 40px;
}

.section-cases-item + .section-cases-item {
  margin-top: 4.375rem;
  padding-top: 4.375rem;
  border-top: 4px solid #E9E9E9;
}

@media screen and (min-width: 768px) {
  .section-cases-item + .section-cases-item {
    border-top: 0;
    border-left: 4px solid #E9E9E9;
    margin-top: 0;
    padding-top: 0;
    margin-left: 4.375rem;
    padding-left: 4.375rem;
  }
}

/* *** /[Home]*** */
/* ***[Team]*** */
@media screen and (min-width: 768px) {
  .section-team-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .section-team-group + .section-team-group {
    margin-top: 3.4375rem;
  }
}

.section-team-item {
  display: block;
  padding-top: 1.667rem;
  padding-bottom: 1.667rem;
}

.section-team-item:link, .section-team-item:hover, .section-team-item:focus, .section-team-item:active, .section-team-item:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section-team-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.section-team-item-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-team-item + .section-team-item {
    border-left: 4px solid #E9E9E9;
    margin-left: 1.25rem;
    padding-left: 1.25rem;
  }
}

/* *** /[Team]*** */
/* ***[Programs]*** */
.section-programs-item {
  display: block;
  border-bottom: 4px solid #E9E9E9;
  padding-bottom: 3.333rem;
}

.section-programs-item:link, .section-programs-item:hover, .section-programs-item:focus, .section-programs-item:active, .section-programs-item:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section-programs-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.section-programs-item-icon {
  max-width: 70px;
}

.section-programs-item-triangle {
  max-width: 2.5rem;
  margin-right: 2.0833rem;
}

@media screen and (min-width: 768px) {
  .section-programs-item-triangle {
    max-width: 1.875rem;
    margin-right: 1.5625rem;
  }
}

.section-programs-item-left {
  margin-bottom: 2.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-programs-item-left {
    text-align: left;
    margin-bottom: 0;
    margin-right: 1.875rem;
    width: 15%;
  }
}

.section-programs-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .section-programs-item-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.section-programs-item:not(:last-child) {
  margin-bottom: 3.333rem;
}

/* *** /[Programs]*** */
/* ***[Clients]*** */
.section-clients-group + .section-clients-group {
  margin-top: 3.333rem;
}

@media screen and (min-width: 768px) {
  .section-clients-group + .section-clients-group {
    margin-top: 3.75rem;
  }
}

.section-clients-item {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-clients-item-logo {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.section-clients-item + .section-clients-item {
  margin-top: 3.333rem;
}

@media screen and (min-width: 768px) {
  .section-clients-item + .section-clients-item {
    margin-top: 0;
  }
}

/* *** /[Clients]*** */
