<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denken | Equipo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>

<body>

    <header class="header">
        <div class="container container-big header-content">
            <a href="#" class="logo header-logo">
                <img src="../static/img/logo-small.svg" alt="Logo" class="logo-img">
            </a>
            <button class="header-btn">
                <span class="header-btn-line"></span>
            </button>
            <nav class="header-nav">
                <ul class="menu header-menu">
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">EQUIPO</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUÉ HACEMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">METODOLOGÍAS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CLIENTES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CASOS DE ÉXITO</a>
                    </li>
                </ul>
                <a href="#" class="header-messages">
                    <img src="../static/img/i-mail.svg" alt="Mensajes" class="header-messages-icon">
                </a>
            </nav>
        </div>
    </header>

    <main>
        <section class="banner banner-bg-cover">
            <img src="../static/img/banner-equipo.jpg" alt="Imagen de fondo" class="banner-bg">
        </section>

        <section class="u-padding-top-big u-padding-bottom-med u-position-relative section-team">
            <div class="title title-primary banner-title">
                <h2 class="heading heading-med heading-font-main-reg">EQUIPO</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 section-team-group">
                        <div class="section-team-item">
                            <img src="../static/img/equipo-1.jpg" alt="Imagen de la persona" class="u-responsive-img-full section-team-item-img">
                            <div class="u-margin-vertical-smallest">
                                <p class="paragraph paragraph-font-accent">MARLENE HAVERBECK</p>
                                <p class="paragraph u-weight-thin paragraph-font-accent u-color-primary">Directora Ejecutiva</p>
                            </div>
                            <p class="paragraph u-weight-thin paragraph-font-accent">Psicóloga, Coach Ontológico, Relacional y Bioenergético y fundadora de Denken Consultores. Más de 15 años de trayectoria en consultoría de Recursos Humanos conduciendo programas de selección, D.O, Cpacitación y Coaching.</p>
                        </div>
                        <div class="section-team-item">
                            <img src="../static/img/equipo-2.jpg" alt="Imagen de la persona" class="u-responsive-img-full section-team-item-img">
                            <div class="u-margin-vertical-smallest">
                                <p class="paragraph paragraph-font-accent">MINORU SUGA</p>
                                <p class="paragraph u-weight-thin paragraph-font-accent u-color-primary">Director Comercial</p>
                            </div>
                            <p class="paragraph u-weight-thin paragraph-font-accent">Ingeniero, Coach Ontológico, Relacional y Sistemático. Profesor de nuevas tecnología, Habilidades Ejecutivas y Emprendimiento en la USS. Más de 15 años como ejecutivo de marketing y ventas en empresas Multinacionales.</p>
                        </div>
                        <div class="section-team-item">
                            <img src="../static/img/equipo-3.jpg" alt="Imagen de la persona" class="u-responsive-img-full section-team-item-img">
                            <div class="u-margin-vertical-smallest">
                                <p class="paragraph paragraph-font-accent">CAROLINE KNOPEL</p>
                                <p class="paragraph u-weight-thin paragraph-font-accent u-color-primary">Directora Técnica</p>
                            </div>
                            <p class="paragraph u-weight-thin paragraph-font-accent">Psicóloga, especialista en Reclutamiento, Selección, Desarrollo Organizacional y Cambios Organizacionales. Más de 13 años de experiencia en cargos corporativos y como consultora de empresas en rubros como minería, retail, logística, construcción y educación.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 section-team-group">
                        <div class="section-team-item">
                            <img src="../static/img/equipo-1.jpg" alt="Imagen de la persona" class="u-responsive-img-full section-team-item-img">
                            <div class="u-margin-vertical-smallest">
                                <p class="paragraph paragraph-font-accent">SANDRA JORDÁN</p>
                                <p class="paragraph u-weight-thin paragraph-font-accent u-color-primary">Directora Ejecutiva</p>
                            </div>
                            <p class="paragraph u-weight-thin paragraph-font-accent">Psicóloga, Coach Ontológico, Relacional y Bioenergético y fundadora de Denken Consultores. Más de 15 años de trayectoria en consultoría de Recursos Humanos conduciendo programas de selección, D.O, Cpacitación y Coaching.</p>
                        </div>
                        <div class="section-team-item">
                            <img src="../static/img/equipo-2.jpg" alt="Imagen de la persona" class="u-responsive-img-full section-team-item-img">
                            <div class="u-margin-vertical-smallest">
                                <p class="paragraph paragraph-font-accent">CHRISTINE FREIBURGHAUS</p>
                                <p class="paragraph u-weight-thin paragraph-font-accent u-color-primary">Director Comercial</p>
                            </div>
                            <p class="paragraph u-weight-thin paragraph-font-accent">Ingeniero, Coach Ontológico, Relacional y Sistemático. Profesor de nuevas tecnología, Habilidades Ejecutivas y Emprendimiento en la USS. Más de 15 años como ejecutivo de marketing y ventas en empresas Multinacionales.</p>
                        </div>
                        <div class="section-team-item">
                            <img src="../static/img/equipo-3.jpg" alt="Imagen de la persona" class="u-responsive-img-full section-team-item-img">
                            <div class="u-margin-vertical-smallest">
                                <p class="paragraph paragraph-font-accent">ALESSANDRA ZUNINO</p>
                                <p class="paragraph u-weight-thin paragraph-font-accent u-color-primary">Directora Técnica</p>
                            </div>
                            <p class="paragraph u-weight-thin paragraph-font-accent">Psicóloga, especialista en Reclutamiento, Selección, Desarrollo Organizacional y Cambios Organizacionales. Más de 13 años de experiencia en cargos corporativos y como consultora de empresas en rubros como minería, retail, logística, construcción y educación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container container-big">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="logo footer-logo"><img src="../static/img/logo-small.svg" alt="Logo" class="logo-img"></a>
                    <ul class="menu header-menu">
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">FACEBOOK</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">E-MAIL</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">TWITTER</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">CONTÁCTENOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>