<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denken | Header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>

<body>

    <header class="header">
        <div class="container container-big header-content">
            <a href="#" class="logo header-logo">
                <img src="../static/img/logo-small.svg" alt="Logo" class="logo-img">
            </a>
            <button class="header-btn">
                <span class="header-btn-line"></span>
            </button>
            <nav class="header-nav">
                <ul class="menu header-menu">
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">EQUIPO</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUÉ HACEMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">METODOLOGÍAS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CLIENTES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CASOS DE ÉXITO</a>
                    </li>
                </ul>
                <a href="#" class="header-messages">
                    <img src="../static/img/i-mail.svg" alt="Mensajes" class="header-messages-icon">
                </a>
            </nav>
        </div>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>