<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denken | Historias</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>

<body>

    <header class="header">
        <div class="container container-big header-content">
            <a href="#" class="logo header-logo">
                <img src="../static/img/logo-small.svg" alt="Logo" class="logo-img">
            </a>
            <button class="header-btn">
                <span class="header-btn-line"></span>
            </button>
            <nav class="header-nav">
                <ul class="menu header-menu">
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">EQUIPO</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUÉ HACEMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">METODOLOGÍAS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CLIENTES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CASOS DE ÉXITO</a>
                    </li>
                </ul>
                <a href="#" class="header-messages">
                    <img src="../static/img/i-mail.svg" alt="Mensajes" class="header-messages-icon">
                </a>
            </nav>
        </div>
    </header>

    <main>
        <section class="banner banner-bg-cover">
            <img src="../static/img/banner-historias.jpg" alt="Imagen de fondo" class="banner-bg">
        </section>

        <section class="u-padding-bottom-huge u-position-relative section-cases">
            <div class="title title-secondary banner-title">
                <h2 class="heading heading-med heading-font-main-reg">HISTORIAS</h2>
            </div>
            <div class="u-padding-top-huge container">
                <div class="row">
                    <div class="col-xs-12 section-cases-group">
                        <a href="#" class="section-cases-item">
                            <img src="../static/img/historia.jpg" alt="Imagen de la historia" class="u-responsive-img-full u-margin-bottom-smallest">
                            <div class="u-margin-vertical-smallest divider divider-secondary"></div>
                            <p class="paragraph paragraph-font-accent">CASO DE ÉXITO<br>NÚMERO 1</p>
                            <p class="paragraph paragraph-font-accent">Título del caso de éxito numero 1</p>
                        </a>
                        <a href="#" class="section-cases-item">
                            <img src="../static/img/historia.jpg" alt="Imagen de la historia" class="u-responsive-img-full u-margin-bottom-smallest">
                            <div class="u-margin-vertical-smallest divider"></div>
                            <p class="paragraph paragraph-font-accent">CASO DE ÉXITO<br>NÚMERO 2</p>
                            <p class="paragraph paragraph-font-accent">Título del caso de éxito numero 2</p>
                        </a>
                        <a href="#" class="section-cases-item">
                            <img src="../static/img/historia.jpg" alt="Imagen de la historia" class="u-responsive-img-full u-margin-bottom-smallest">
                            <div class="u-margin-vertical-smallest divider divider-gray"></div>
                            <p class="paragraph paragraph-font-accent">CASO DE ÉXITO<br>NÚMERO 3</p>
                            <p class="paragraph paragraph-font-accent">Título del caso de éxito numero 3</p>
                        </a>
                    </div>
                    <div class="col-xs-12 section-cases-group">
                        <a href="#" class="section-cases-item">
                            <img src="../static/img/historia.jpg" alt="Imagen de la historia" class="u-responsive-img-full u-margin-bottom-smallest">
                            <div class="u-margin-vertical-smallest divider divider-secondary"></div>
                            <p class="paragraph paragraph-font-accent">CASO DE ÉXITO<br>NÚMERO 4</p>
                            <p class="paragraph paragraph-font-accent">Título del caso de éxito numero 4</p>
                        </a>
                        <a href="#" class="section-cases-item">
                            <img src="../static/img/historia.jpg" alt="Imagen de la historia" class="u-responsive-img-full u-margin-bottom-smallest">
                            <div class="u-margin-vertical-smallest divider"></div>
                            <p class="paragraph paragraph-font-accent">CASO DE ÉXITO<br>NÚMERO 5</p>
                            <p class="paragraph paragraph-font-accent">Título del caso de éxito numero 5</p>
                        </a>
                        <a href="#" class="section-cases-item">
                            <img src="../static/img/historia.jpg" alt="Imagen de la historia" class="u-responsive-img-full u-margin-bottom-smallest">
                            <div class="u-margin-vertical-smallest divider divider-gray"></div>
                            <p class="paragraph paragraph-font-accent">CASO DE ÉXITO<br>NÚMERO 6</p>
                            <p class="paragraph paragraph-font-accent">Título del caso de éxito numero 6</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container container-big">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="logo footer-logo"><img src="../static/img/logo-small.svg" alt="Logo" class="logo-img"></a>
                    <ul class="menu header-menu">
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">FACEBOOK</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">E-MAIL</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">TWITTER</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">CONTÁCTENOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>