<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denken | Metodologías</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>

<body>

    <header class="header">
        <div class="container container-big header-content">
            <a href="#" class="logo header-logo">
                <img src="../static/img/logo-small.svg" alt="Logo" class="logo-img">
            </a>
            <button class="header-btn">
                <span class="header-btn-line"></span>
            </button>
            <nav class="header-nav">
                <ul class="menu header-menu">
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">EQUIPO</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUÉ HACEMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">METODOLOGÍAS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CLIENTES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CASOS DE ÉXITO</a>
                    </li>
                </ul>
                <a href="#" class="header-messages">
                    <img src="../static/img/i-mail.svg" alt="Mensajes" class="header-messages-icon">
                </a>
            </nav>
        </div>
    </header>

    <main>
        <section class="banner banner-bg-cover">
            <img src="../static/img/banner-metodologia.jpg" alt="Imagen de fondo" class="banner-bg">
        </section>

        <section class="u-padding-top-huge u-padding-bottom-huge u-position-relative section-services">
            <div class="title title-secondary banner-title">
                <h2 class="heading heading-med heading-font-main-reg">METODOLOGÍAS</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-services-group">
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-mapa-lider.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-secondary">Mapa<br>de liderazgo</p>
                            </a>
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-visual-thinking.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-secondary">Visual<br>Thinking</p>
                            </a>
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-coaching-circle.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon section-services-item-icon-big">
                                <p class="paragraph u-color-secondary"><br>Coaching</p>
                            </a>
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-nikki.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-secondary">Nikki Wood</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 u-margin-top-big">
                        <div class="section-services-group">
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-hallos.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-primary">Hallos<br>Relacionales</p>
                            </a>
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-mindfullness.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-primary">Mindfullness</p>
                            </a>
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-neurofeedback.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-primary"><br>Neurofeedback</p>
                            </a>
                            <a href="#" class="section-services-item">
                                <img src="../static/img/i-design-thinking.svg" alt="Icono" class="u-responsive-img u-margin-bottom-small section-services-item-icon">
                                <p class="paragraph u-color-primary">Design<br>Thinking</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container container-big">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="logo footer-logo"><img src="../static/img/logo-small.svg" alt="Logo" class="logo-img"></a>
                    <ul class="menu header-menu">
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">FACEBOOK</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">E-MAIL</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">TWITTER</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">CONTÁCTENOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>