<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denken | Programas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>

<body>

    <header class="header">
        <div class="container container-big header-content">
            <a href="#" class="logo header-logo">
                <img src="../static/img/logo-small.svg" alt="Logo" class="logo-img">
            </a>
            <button class="header-btn">
                <span class="header-btn-line"></span>
            </button>
            <nav class="header-nav">
                <ul class="menu header-menu">
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">EQUIPO</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUÉ HACEMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">METODOLOGÍAS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CLIENTES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CASOS DE ÉXITO</a>
                    </li>
                </ul>
                <a href="#" class="header-messages">
                    <img src="../static/img/i-mail.svg" alt="Mensajes" class="header-messages-icon">
                </a>
            </nav>
        </div>
    </header>

    <main>
        <section class="banner banner-bg-cover">
            <img src="../static/img/banner-programas.jpg" alt="Imagen de fondo" class="banner-bg">
        </section>

        <section class="u-padding-top-huge u-margin-bottom-big-2 u-position-relative">
            <div class="title">
                <h2 class="heading heading-med heading-font-main-reg">PROGRAMAS</h2>
            </div>
            <div class="container section-programs">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="section-programs-item">
                            <div class="section-programs-item-left">
                                <img src="../static/img/i-bus-sel.svg" alt="Icono" class="u-margin-bottom-smallest section-programs-item-icon">
                                <p class="paragraph u-color-secondary">Nuevos<br>Colaboradores</p>
                            </div>
                            <div class="section-programs-item-right">
                                <img src="../static/img/triangle-secondary.svg" alt="Icono" class="u-rotate-right section-programs-item-triangle">
                                <p class="paragraph paragraph-font-accent">Búsqueda l Selección l Inserción l Acompañamiento</p>
                            </div>
                        </a>
                        <a href="#" class="section-programs-item">
                            <div class="section-programs-item-left">
                                <img src="../static/img/i-form-equipos.svg" alt="Icono" class="u-margin-bottom-smallest section-programs-item-icon">
                                <p class="paragraph u-color-primary">Desarrollo de<br>Equipos</p>
                            </div>
                            <div class="section-programs-item-right">
                                <img src="../static/img/triangle-primary.svg" alt="Icono" class="u-rotate-right section-programs-item-triangle">
                                <p class="paragraph paragraph-font-accent">Team Building l Team Coaching l Hallos Reaciones l Autogestión</p>
                            </div>
                        </a>
                        <a href="#" class="section-programs-item">
                            <div class="section-programs-item-left">
                                <img src="../static/img/i-liderazgo.svg" alt="Icono" class="u-margin-bottom-smallest section-programs-item-icon">
                                <p class="paragraph u-color-secondary">Liderazgo</p>
                            </div>
                            <div class="section-programs-item-right">
                                <img src="../static/img/triangle-secondary.svg" alt="Icono" class="u-rotate-right section-programs-item-triangle">
                                <p class="paragraph paragraph-font-accent">Competencias de liderazgo l Mapa de liderazgo l Coaching y Mentoring l Career Coaching l Adaptación Cultural</p>
                            </div>
                        </a>
                        <a href="#" class="section-programs-item">
                            <div class="section-programs-item-left">
                                <img src="../static/img/i-des-org.svg" alt="Icono" class="u-margin-bottom-smallest section-programs-item-icon">
                                <p class="paragraph u-color-primary">Desarrollo<br>Organizacional</p>
                            </div>
                            <div class="section-programs-item-right">
                                <img src="../static/img/triangle-primary.svg" alt="Icono" class="u-rotate-right section-programs-item-triangle">
                                <p class="paragraph paragraph-font-accent">Descripciones de cargo l Levantamiento de competencias l Evaluación de desempeño l Gestión de talentos</p>
                            </div>
                        </a>
                        <a href="#" class="section-programs-item">
                            <div class="section-programs-item-left">
                                <img src="../static/img/i-progs-cultura.png" alt="Icono" class="u-margin-bottom-smallest section-programs-item-icon">
                                <p class="paragraph u-color-secondary">Cultura</p>
                            </div>
                            <div class="section-programs-item-right">
                                <img src="../static/img/triangle-secondary.svg" alt="Icono" class="u-rotate-right section-programs-item-triangle">
                                <p class="paragraph paragraph-font-accent">Propósito Corporativo l Misión, Visión y Valores l Plani cación Estratégica</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container container-big">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="logo footer-logo"><img src="../static/img/logo-small.svg" alt="Logo" class="logo-img"></a>
                    <ul class="menu header-menu">
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">FACEBOOK</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">E-MAIL</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">TWITTER</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">CONTÁCTENOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>