<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denken | Nuevos Colaboradores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>

<body>

    <header class="header">
        <div class="container container-big header-content">
            <a href="#" class="logo header-logo">
                <img src="../static/img/logo-small.svg" alt="Logo" class="logo-img">
            </a>
            <button class="header-btn">
                <span class="header-btn-line"></span>
            </button>
            <nav class="header-nav">
                <ul class="menu header-menu">
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">EQUIPO</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">QUÉ HACEMOS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">METODOLOGÍAS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CLIENTES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="heading heading-small menu-link">CASOS DE ÉXITO</a>
                    </li>
                </ul>
                <a href="#" class="header-messages">
                    <img src="../static/img/i-mail.svg" alt="Mensajes" class="header-messages-icon">
                </a>
            </nav>
        </div>
    </header>

    <main>
        <section class="banner banner-bg-cover">
            <img src="../static/img/banner-programas.jpg" alt="Imagen de fondo" class="banner-bg">
        </section>

        <section class="u-padding-vertical-big u-position-relative">
            <div class="title">
                <h2 class="heading heading-med heading-font-main-reg">PROGRAMAS</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="u-margin-bottom-small-2 u-align-center">
                            <h1 class="u-margin-bottom-small heading heading-big u-color-secondary">Nuevos Colaboradores</h1>
                            <h3 class="heading heading-small-2 heading-font-alt u-color-secondary u-style-italic">Descripción rápida para que el cliente pueda saber<br>si lo que busca está aqui o no.</h3>
                        </div>
                        <div class="u-margin-bottom-big">
                            <p class="u-margin-bottom-smallest paragraph paragraph-font-accent u-weight-thin">Ti apiet, eossus non estrum sus, consed quidusc iminto cum quiatur reprovidus aut vent andant resequatur? Qui que eaqui blabo. Im simoluptae quisquas eturendis simillorro vitatia sin commo excea dolorep elescietur, ipis dolore sapedis rehentorro voluptatem quistem nonsed est, volupta qui quo idigend issequi dempedit volorum auda dolor molendu cipsaperume nullut acepeli quiandem. Et oditas mos vendandi cus voluptas voluptate aut et, omnimil exerum et volorem quideliam volum fugiae non endam faccus.Ugiam quiate liquae dolupta taquae. Et quibus nullabo reribus ut vellabor moluptae. Ferum dolores cipiet apero cusante mostia sitat int et art.</p>
                            <p class="u-margin-bottom-smallest paragraph paragraph-font-accent u-weight-thin">Quia derume nonsequ iscimus, in ped quam et of cim lacimagnat maior alis rerum in eatium id qui beresti onsenim oluptas untius con nequiamusa cupitio nsenimilicil im qUt fuga. Uptatiur ationetur seque audaepernam ut etur, cum que id molorem el es. Ritas nestrum quisqui il el eostio et pa natquodis volessenis ent est, apidit reptaquidem quiatur eiciatur, soluptas eum unt quae placcus ciisti blautem fugitio.</p>
                            <p class="paragraph paragraph-font-accent u-weight-thin">Me nonsecum nate dessit, omnim quiam que nus, sum, sed quia dolupta voloriora dem qui nonsequi que verestio. Um lanihicae magnien dersped igenducium dolendaes sincidendis is abor aut vendis as ipsunt labora cume verunt, et qui conet, autendi tiberatem quissin ctatur minvele cessusam facit etur, conse sedis cuptaturi corepuditium qui nos evelign ihitis pra suntior eribuscius volupta temporpora aut volores simagnimus derit et et maionsequam nihillat alitiae sitatia qui of caest molut porerchil mo dolupta sitiuribus. Harchillam aut et eventendunt que nat.</p>
                        </div>
                        <figure class="u-margin-bottom-big figure figure-center">
                            <img src="../static/img/i-bus-sel.svg" alt="Imagen" class="figure-img figure-img-small">
                            <figcaption class="figure-caption">
                                <p class="paragraph paragraph-font-accent paragraph-med u-weight-light u-style-italic u-color-secondary">Ti apiet, eossus non estrum sus, consed quidusc iminto cum quiatur reprovidus aut vent andant resequatur?</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container container-big">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="logo footer-logo"><img src="../static/img/logo-small.svg" alt="Logo" class="logo-img"></a>
                    <ul class="menu header-menu">
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">FACEBOOK</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">E-MAIL</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">TWITTER</a>
                        </li>
                        <li class="menu-item menu-item-less-margin">
                            <a href="#" class="heading heading-small menu-link">CONTÁCTENOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>