.header {
    background-image: linear-gradient(to bottom, #53cbcd, #12bcbe, #03b9ba, #10a7b0, #1a91a4, #198297);
    padding: 10px 15px;
    position: absolute;
    z-index: 3;
    top: 3.75rem;
    left: 0;
    width: 100%;
    text-align: center;
    @include atSmall {
        top: 2.8125rem;
    }

    @include atMedium {
        text-align: left;
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include atSmall {
            display: block;
        }
        @include atMedium {
            display: flex;
        }
    }

    &-logo {
        margin-right: 2.5rem;
        flex-grow: 1;
        @include atSmall {
            flex-grow: 0;
            margin-right: 0;
        }
        @include atMedium {
            margin-right: 1.875rem;
        }
    }

    &-nav {
        position: absolute;
        z-index: 1;
        background-color: $color-primary;
        padding: 2rem;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(100%);
        display: none;
        @include atSmall {
            transform: none;
            position: static;
            width: auto;
            padding: 0;
            background: none;
            flex-grow: 1;
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }

    &-menu {
        @include atMedium {
            flex-grow: 1;
        }
    }

    &-btn {
        cursor: pointer;
        background-color: transparent;
        margin: 0;
        padding: 0;
        display: inline-block;
        height: 14px;
        @include atSmall {
            display: none;
        }

        &-line {
            height: 2px;
            width: 2rem;
            position: relative;
            display: inline-block;
            background-color: $color-white;
            margin: 6px 0;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 2px;
                width: 2rem;
                background-color: $color-white;
            }

            &:before {
                top: -6px;
                left: 0;
            }

            &:after {
                top:6px;
                left: 0;
            }
        }
    }

    &-messages {
        display: inline-block;
        padding-top: 1.875rem;
        margin-top: 1.875rem;
        position: relative;
        @include atSmall {
            margin-top: 0;
            padding-top: 0;
            margin-left: 1.25rem;
            padding-left: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 1.167rem;
            background-color: $color-white;
            @include atSmall {
                height: 0.875rem;
                width: 2px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        &-icon {
            width: 17px;
            height: auto;
        }
    }

    &-no-margin {
        margin-bottom: 0;
    }
}