<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerro Castillo Capital | Investment Focus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <div class="popup" data-popup="contact">
        <div class="popup-close popup-backdrop"></div>
        <div class="popup-content">
            <img src="../static/img/close.svg" alt="Close" class="popup-close popup-content-close">
            <div class="contact">
                <div class="col-xs-12 col-sm-5 contact-copy">
                    <h3 class="text text-med-big text-black contact-text">Let's sit and talk!</h3>
                    <h4 class="text text-med-small contact-text">Cerro Castillo Office:
                        <br>
                        <br>Rosario Norte 532, of. 1501, Santiago de Chile.
                        <br>Tel: 56 2 2963 9600</h4>
                </div>
                <form action='https://forms.zohopublic.com/sytes/form/cerrocastilloformulariocontactoingles/formperma/28fbdE10dBHg_j3m10606k0M1/htmlRecords/submit' name='form' id='form' class="col-xs-12 col-sm-7 contact-form" method='POST' accept-charset='UTF-8' enctype='multipart/form-data' onSubmit="zf_validateandsubmitdata();">
                    <input class="contact-form-input" name="Name_First" type="text" placeholder="Your Name*" required></input>
                    <input class="contact-form-input" name="Email" type="email" placeholder="Email address*" required></input>
                    <input class="contact-form-input" name="PhoneNumber_countrycode" type="tel" placeholder="Phone number*" required></input>
                    <textarea class="contact-form-input contact-form-input-textarea" name="MultiLine" placeholder="Message*"></textarea>
                    <input type="submit" class="contact-form-btn" value="SEND MESSAGE">
                </form>
            </div>
        </div>
    </div>

    <header class="container-fluid header">
        <div class="row">
            <div class="col-xs-12 header-content">
                <a href="http://cerrocastillo2.static.lpe.cl/templates/home.html" class="header-logo">
                    <img src="../static/img/logo-color.svg" alt="Cerro Castillo Capital Logo" class="header-logo-img">
                </a>
                <button class="header-btn">
                    <div class="header-btn-line"></div>
                    <div class="header-btn-line"></div>
                    <div class="header-btn-line"></div>
                </button>
                <nav class="header-nav">
                    <div class="container">
                        <ul class="header-menu">
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/approach.html" class="header-link">OUR APPROACH</a>
                            </li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/focus.html" class="header-link">INVESTMENT FOCUS</a>
                            </li>
                            <li class="text text-white text-med header-item header-item-expander"></li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/team.html" class="header-link">TEAM</a>
                            </li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/investments.html" class="header-link">INVESTMENTS</a>
                            </li>
                            <li class="header-item popup-open" data-popup="contact">
                                <img src="../static/img/email.svg" alt="Contacto" class="header-item-icon">
                            </li>
                            <li class="hidden-xs hidden-sm text text-white text-med header-item header-item-col">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/focus.html" class="header-link">
                                <img src="../static/img/es.png" alt="Dropdown" class="header-item-arrow"></a>
                            </li>
                            <li class="hidden-lg hidden-md text text-white text-med header-item header-item-col">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/focus.html" class="header-link">ESP</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> 
        </div>
    </header>

    <section class="container-fluid banner">
        <img src="https://7static.loadingplay.com/static/images/63e2b86e91f521712e6ba85cb217c44b_carlosmuza.png" alt="Banner" class="banner-bg">
        <div class="banner-copy banner-copy-right">
            <h1 class="banner-title">Investment<br>focus</h1>
        </div>
    </section>

    <section class="container-fluid focus">
        <div class="focus-group">
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">Mid-size</span> companies whose base operating country is Chile. Investments in other Latin American countries, especially Peru and Colombia, are done through subsidiaries of these companies</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text">Situations where we can be the<br><span class="text-big">catalysts for value creation</span>. These typically include companies with clear growth opportunities and/or requiring strategic changes and/or operational improvements, among others</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">Reasonable valuations</span><br>and consistent with the lifecycle stage of the company.  Often times sellers are invited, or required, to stay in order to be part of the value creation process and benefit from the upside</p>
            </div>
        </div>
        <div class="focus-group">
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">No need</span> to be within an<br><span class="text-big">specific industry</span>.<br>Cyclical industries and/or industries where others´ actions may have a significant impact on the investment outcome (e.g. political actions) are avoided</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">Strong,<br>proven management teams</span> either in place or that can be assembled quickly to implement our value creation plans. Compensation mechanisms to align incentives are frequently used</p>
            </div>
            <div class="focus-item hidden-xs hidden-sm">
                <p class="text text-big text-white text-big-small focus-item-text">Investments must have a <span class="text-big">visible exit path</span>, so a future sale of the company is solely dependent on us.<br><br>Acquisition of <span class="text-big">controlling stakes</span>. In some cases we may acquire a non controlling interest, if we can decide on key strategic and operational aspects or if we can gain control when performance is not in line with the initially agreed plan</p>

            </div>

            <div class="focus-item hidden-lg hidden-md">
                <p class="text text-big text-white text-big-small focus-item-text">Investments must have a <span class="text-big">visible exit path</span>, so a future sale of the company is solely dependent on us.</p>
            </div>
            <div class="focus-item hidden-lg hidden-md">
                <p class="text text-big text-white text-big-small focus-item-text"><br>Acquisition of <span class="text-big">controlling stakes</span>. In some cases we may acquire a non controlling interest, if we can decide on key strategic and operational aspects or if we can gain control when performance is not in line with the initially agreed plan</p>
            </div>
        </div>
    </section>

    <footer class="container-fluid footer">
        <div class="container-fluid-content">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="footer-logo">
                        <img src="../static/img/logo-blanco.svg" alt="Logo" class="footer__logo-img">
                    </a>
                    <div class="footer-copy">
                        <h5 class="text text-white text-small footer-text">© CERRO CASTILLO CAPITAL</h5>
                        <p class="text text-white text-small footer-text">Rosario Norte 532, of. 1501
                            <br>Santiago de Chile
                            <br>Tel: 56 2 2963 9600
                            <br>
                            <a href="#"" class="text text-white text-small text-link popup-open" data-popup="contact">Send us an email</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>