<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerro Castillo Capital | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <div class="popup" data-popup="contact">
        <div class="popup-close popup-backdrop"></div>
        <div class="popup-content">
            <img src="../static/img/close.svg" alt="Close" class="popup-close popup-content-close">
            <div class="contact">
                <div class="col-xs-12 col-sm-5 contact-copy">
                    <h3 class="text text-med-big text-black contact-text">Let's sit and talk!</h3>
                    <h4 class="text text-med-small contact-text">Cerro Castillo Office:
                        <br>
                        <br>Rosario Norte 532, of. 1501, Santiago de Chile.
                        <br>Ph: 56 2 2963 9600</h4>
                </div>
                <form class="col-xs-12 col-sm-7 contact-form">
                    <input class="contact-form-input" type="text" placeholder="Your Name*" required></input>
                    <input class="contact-form-input" type="email" placeholder="Email address*" required></input>
                    <input class="contact-form-input" type="tel" placeholder="Phone number*" required></input>
                    <textarea class="contact-form-input contact-form-input-textarea" placeholder="Message*"></textarea>
                    <input type="submit" class="contact-form-btn" value="SEND MESSAGE">
                </form>
            </div>
        </div>
    </div>

    <header class="container-fluid header">
        <div class="row">
            <div class="col-xs-12 header-content">
                <a href="http://cerrocastillo2.static.lpe.cl/templates/home.html" class="header-logo">
                    <img src="../static/img/logo-color.svg" alt="Cerro Castillo Capital Logo" class="header-logo-img">
                </a>
                <button class="header-btn">
                    <div class="header-btn-line"></div>
                    <div class="header-btn-line"></div>
                    <div class="header-btn-line"></div>
                </button>
                <nav class="header-nav">
                    <div class="container">
                        <ul class="header-menu">
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/approach.html" class="header-link">OUR APPROACH</a>
                            </li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/focus.html" class="header-link">INVESTMENT FOCUS</a>
                            </li>
                            <li class="text text-white text-med header-item header-item-expander"></li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/team.html" class="header-link">TEAM</a>
                            </li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/investments.html" class="header-link">INVESTMENTS</a>
                            </li>
                            <li class="header-item popup-open" data-popup="contact">
                                <img src="../static/img/email.svg" alt="Contacto" class="header-item-icon">
                            </li>
                            <li class="text text-white text-med header-item header-item-col">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/home.html" class="header-link">ESP</a>
                                <!--<img src="../static/img/arrow.svg" alt="Dropdown" class="header-item-arrow">-->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="container-fluid banner">
        <img src="../static/img/banner-1.jpg" alt="Banner" class="banner-bg">
        <div class="banner-copy banner-copy-left">
            <h1 class="banner-title">Capital<br>Leading<br>Private</h1>
        </div>
    </section>

    <section class="container-fluid intro">
        <img src="../static/img/mountain-bg.svg" alt="Background image" class="intro-img">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-copy">
                        <p class="text intro-text">Cerro Castillo Capital is a leading private equity firm that invests in mid size companies based
                            in Chile. Investments in other Latin American countries, especially Perú and Colombia, are done
                            through subsidiaries of these companies.</p>
                        <p class="text intro-text">The founding partners of Cerro Castillo Capital have vast experience doing private equity and a strong
                            network of contacts to originate proprietary deals and involve industry experts during due diligence
                            and throughout the lifetime of the investments.</p>
                        <p class="text intro-text">The team follows a disciplined investment approach and becomes actively involved in its portfolio
                            companies. Value creation is sought by setting clear strategic initiatives and implementing operational
                            improvements. Significant focus is placed upfront to align incentives with managers and partners
                            behind a clear common goal.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid footer">
        <div class="container-fluid-content">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="footer-logo">
                        <img src="../static/img/logo-blanco.svg" alt="Logo" class="footer__logo-img">
                    </a>
                    <div class="footer-copy">
                        <h5 class="text text-white text-small footer-text">© CERRO CASTILLO CAPITAL</h5>
                        <p class="text text-white text-small footer-text">Rosario Norte 532, of. 1501
                            <br>Santiago de Chile
                            <br>Tel: 56 2 2963 9600
                            <br>
                            <a href="#" class="text text-white text-small text-link">Send us an email</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>