<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerro Castillo Capital | Estrategia de inversión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <div class="popup" data-popup="contact">
        <div class="popup-close popup-backdrop"></div>
        <div class="popup-content">
            <img src="../static/img/close.svg" alt="Close" class="popup-close popup-content-close">
            <div class="contact">
                <div class="col-xs-12 col-sm-5 contact-copy">
                    <h3 class="text text-med-big text-black contact-text">¡Sentémonos y hablemos!</h3>
                    <h4 class="text text-med-small contact-text">Cerro Castillo Office:
                        <br>
                        <br>Rosario Norte 532, of. 1501, Santiago de Chile.
                        <br>Tel: 56 2 2963 9600</h4>
                </div>
                <form action='https://forms.zohopublic.com/sytes/form/cerrocastilloformularioespaol/formperma/eb9bfEmF8Cb9b61627bG513J1/htmlRecords/submit' name='form' id='form' class="col-xs-12 col-sm-7 contact-form" method='POST' accept-charset='UTF-8' enctype='multipart/form-data' onSubmit="zf_validateandsubmitdata();">
                    <input class="contact-form-input" name="Name_First" type="text" placeholder="Your Name*" required></input>
                    <input class="contact-form-input" name="Email" type="email" placeholder="Email address*" required></input>
                    <input class="contact-form-input" name="PhoneNumber_countrycode" type="tel" placeholder="Phone number*" required></input>
                    <textarea class="contact-form-input contact-form-input-textarea" name="MultiLine" placeholder="Message*"></textarea>
                    <input type="submit" class="contact-form-btn" value="SEND MESSAGE">
                </form>
            </div>
        </div>
    </div>

    <header class="container-fluid header">
        <div class="row">
            <div class="col-xs-12 header-content">
                <a href="http://cerrocastillo.static.lpe.cl/templates/home.html" class="header-logo">
                    <img src="../static/img/logo-color.svg" alt="Cerro Castillo Capital Logo" class="header-logo-img">
                </a>
                <button class="header-btn">
                    <div class="header-btn-line"></div>
                    <div class="header-btn-line"></div>
                    <div class="header-btn-line"></div>
                </button>
                <nav class="header-nav">
                    <div class="container">
                        <ul class="header-menu">
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/approach.html" class="header-link">COMO TRABAJAMOS</a>
                            </li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/focus.html" class="header-link">ESTRATEGIA DE INVERSIÓN</a>
                            </li>
                            <li class="text text-white text-med header-item header-item-expander"></li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/team.html" class="header-link">EQUIPO</a>
                            </li>
                            <li class="text text-white text-med header-item">
                                <a href="http://cerrocastillo.static.lpe.cl/templates/investments.html" class="header-link">PORTAFOLIO</a>
                            </li>
                            <li class="header-item popup-open" data-popup="contact">
                                <img src="../static/img/email.svg" alt="Contacto" class="header-item-icon">
                            </li>
                            <li class="text text-white text-med header-item header-item-col">
                                <a href="http://cerrocastillo2.static.lpe.cl/templates/home.html" class="header-link">ING</a>
                                <!--<img src="../static/img/arrow.svg" alt="Dropdown" class="header-item-arrow">-->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="container-fluid banner">
        <img src="../static/img/banner-3.jpg" alt="Banner" class="banner-bg">
        <div class="banner-copy banner-copy-right">
            <h1 class="banner-title">Estrategia<br>de<br>Inversión</h1>
        </div>
    </section>

    <section class="container-fluid focus">
        <div class="focus-group">
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">Empresas medianas</span> Invertimos en empresas medianas basadas en Chile, a través de las cuales muchas veces realizamos también inversiones en otros países de América Latina, especialmente Perú y Colombia (texto alternativo al de la primera página).  I</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text">Buscamos situaciones donde podamos ser <br><span class="text-big">agentes catalizadores de la creación de valor</span>.<br>Las situaciones más típicas son empresas con claras oportunidades de crecimiento y/o que requieran redireccionamiento estratégico y/o mejoras operacionales, entre otras</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">La valorización de la inversión</span><br>tiene que ser razonable y consistente con la etapa del ciclo de vida de la compañía.  En muchos casos los vendedores son invitados (o requeridos) a mantenerse en la propiedad o la gestión, participando y beneficiándose del proceso de creación de valor</p>
            </div>
        </div>
        <div class="focus-group">
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">Somos generalistas</span>no estamos enfocados en<br><span class="text-big">industrias específicas</span>.<br> Evitamos algunas industrias como por ejemplo industrias cíclicas o industrias en que dependamos de acciones de terceros para lograr nuestros objetivos (por ejemplo decisiones políticas)</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text"><span class="text-big">Buscamos equipos ejecutivos de alto desempeño</span><br>que ya son parte de la empresa o que se puedan formar rápidamente según la necesidad para implementar los planes de creación de valor. Usamos mecanismos de compensación que alineen incentivos en la creación de valor</p>
            </div>
            <div class="focus-item">
                <p class="text text-big text-white text-big-small focus-item-text">Las inversiones tienen que tener variadas alternativas de <span class="text-big">venta futura tangibles</span> y variadas de modo que ésta dependa sólo de nosotros<br>

                <br>Compramos el <span class="text-big">control de las compañías</span> en que invertimos.  Bajo ciertas condiciones invertimos en participaciones no controladoras, en la medida que podamos decidir sobre aspectos estratégicos y operacionales clave o que podamos obtener el control si no se esta cumpliendo el plan acordado inicialmente</p>
            </div>
        </div>
    </section>

    <footer class="container-fluid footer">
        <div class="container-fluid-content">
            <div class="row">
                <div class="col-xs-12 footer-content">
                    <a href="#" class="footer-logo">
                        <img src="../static/img/logo-blanco.svg" alt="Logo" class="footer__logo-img">
                    </a>
                    <div class="footer-copy">
                        <h5 class="text text-white text-small footer-text">© CERRO CASTILLO CAPITAL</h5>
                        <p class="text text-white text-small footer-text">Rosario Norte 532, of. 1501
                            <br>Santiago de Chile
                            <br>Tel: 56 2 2963 9600
                            <br>
                            <a href="#" class="text text-white text-small text-link">Send us an email</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>