// Container

.container {
    max-width: 850px;
    margin: 0 auto;

    &-big {
        max-width: 1050px;
    }
}

// Border

.u-border {
    &-section {
        border-top: 2px solid $color-gray;
    }
}

// Font

.u-weight {
    &-thin {
        font-weight: 100;
    }

    &-light {
        font-weight: 300;
    }

    &-normal {
        font-weight: 400;
    }

    &-bld {
        font-weight: 700;
    }
}

.u-style {
    &-italic {
        font-style: italic;
    }
}

// Color

.u-color {
    &-secondary {
        color: $color-secondary;
    }

    &-primary {
        color: $color-primary;
    }
}

// Responsive

.u-responsive {
    &-img {
        max-width: 100%;
        height: auto;

        &-full {
            width: 100%;
            height: auto;
        }
    }
}

// Position

.u-position {
    &-relative {
        position: relative;
    }
}

// Align

.u-align {
    &-center {
        text-align: center;
    }
}

// Margin

.u-margin {
    // Vertical
    &-vertical {
        &-smallest {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    // Bottom
    &-bottom {
        &-smallest {
            margin-bottom: 10px;
        }
        
        &-small {
            margin-bottom: 1.667rem;
            @include atSmall {
                margin-bottom: 1.25rem;
            }
        }

        &-small-2 {
            margin-bottom: 2.5rem;
            @include atSmall {
                margin-bottom: 1.875rem;
            }
        }

        &-med {
            margin-bottom: 3.333rem;
            @include atSmall {
                margin-bottom: 2.5rem;
            }
        }

        &-big {
            margin-bottom: 5.833rem;
            @include atSmall {
                margin-bottom: 4.375rem;
            }
        }

        &-big-2 {
            margin-bottom: 6.667rem;
            @include atSmall {
                margin-bottom: 5rem;
            }
        }
    }

    // Top
    &-top {
        &-big {
            margin-top: 5.833rem;
            @include atSmall {
                margin-top: 4.375rem;
            }
        }
    }
}

// Padding

.u-padding {
    // Vertical
    &-vertical {
        &-smallest {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &-big {
            padding-top: 5.833rem;
            padding-bottom: 5.833rem;
            @include atSmall {
                padding-top: 4.375rem;
                padding-bottom: 4.375rem;
            }
        }
    }

    // Top
    &-top {
        &-big {
            padding-top: 5.833rem;
            @include atSmall {
                padding-top: 4.375rem;
            }
        }

        &-huge {
            padding-top: 9.167rem;
            @include atSmall {
                padding-top: 6.875rem;
            }
        }
    }

    // Bottom
    &-bottom {
        &-med {
            padding-bottom: 3.333rem;
            @include atSmall {
                padding-bottom: 2.5rem;
            }
        }

        &-huge {
            padding-bottom: 9.167rem;
            @include atSmall {
                padding-bottom: 6.875rem;
            }
        }
    }
}

// Transform

.u-rotate {
    &-right {
        transform: rotate(-90deg);
    }
}