.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    min-height: 29.375rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 10rem;
    @include atSmall {
        min-height: 35rem;
    }
    @include atMedium {
        padding-top: 7.5rem;
    }

    &-bg {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        height: 100%;
        width: auto;
        @include atSmall {
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }

        &-full {
            width: 100%;
            height: auto;
            transform: translateX(-50%);
            min-width: 0;
            min-height: 0;
        }
    }

    &-img {
        max-width: 180px;
        padding-bottom: 5rem;
        @include atSmall {
            padding-bottom: 0;
        }
    }

    &-bg-cover {
        background-size: cover;
    }
}