.menu {
    @include atSmall {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &-item {
        position: relative;

        & + & {
            padding-top: 1.875rem;
            margin-top: 1.875rem;
            @include atSmall {
                padding-top: 0;
                margin-top: 0;
                padding-left: 1.25rem;
                margin-left: 1.25rem;
            }
            @include atMedium {
                padding-left: 1.875rem;
                margin-left: 1.875rem;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 1.167rem;
                background-color: $color-white;
                @include atSmall {
                    height: 0.875rem;
                    width: 2px;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }

        &-less-margin {
            text-align: center;
            margin-top: 1.875rem;
            padding-top: 1.875rem;
            @include atSmall {
                margin-top: 0;
                padding-top: 0;
            }

            &,
            & + & {
                @include atSmall {
                    margin-left: 1rem;
                    padding-left: 1rem;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    width: 1.167rem;
                    background-color: $color-white;
                    @include atSmall {
                        height: 0.875rem;
                        width: 2px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    &-link {
        font-weight: 400;
        @include linkStates($color-white, none);
        @include atSmall {
            font-size: 0.75rem;
        }
    }
}