.section-team {
    &-group {
        @include atSmall {
            display: flex;
            justify-content: space-between;
        }

        & + & {
            @include atSmall {
                margin-top: 3.4375rem;
            }
        }
    }

    &-item {
        display: block;
        padding-top: 1.667rem;
        padding-bottom: 1.667rem;
        @include linkStates(inherit, none);
        @include atSmall {
            flex: 1 1 0;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        &-img {
            display: block;
            width: 50%;
            margin: 0 auto;
        }

        & + & {
            @include atSmall {
                border-left: 4px solid $color-gray;
                margin-left: 1.25rem;
                padding-left: 1.25rem;
            }
        }
    }
}