hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #E9E9ED;
    width:99%;
}

.ul-1{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 23px;
    text-transform: uppercase;
}

.pas {
    font-size: 13px;
    color: #696b79;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.inform-comerc{
    width: 100%;
    position: relative;
    left: -11px;
  /*  z-index: 1030;*/
}


.inform-comerc-2{
	margin-left: 0px;
	width: 100%;
}

.ul-2{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 23px;
    text-transform: uppercase;
}

.ul-22 {
    font-size: 14px;
    color: #535766;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 10px;
    right: 30px;
    text-align: left;
    margin-top: 17px;
}

.ul-22-0 {
    font-size: 13px;
    color: #696b79;
    font-weight: 300;
    width: 90%;
    right: 49px;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin-bottom: 32px;
}

.susi {
    font-size: 14px;
    color: #535766;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 10px;
    right: 30px;
    text-align: left;
    margin-top: 17px;
}


.pas-2{
	margin-left: -3px;
    width: 100%;
    color: gray;
    font-size: 15px;

}

.pas-3{
    margin-left: 4px;
    width: 100%;
    font-size: 15px;
    color: gray;
}

.pas-4 {
    font-size: 13px;
    color: #696b79;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}


.no-dot {
    position: relative;
    left: 0px;
    width: 117%;
    margin-bottom: 0px;
    padding: 0px;
}

.no-doti {
    position: relative;
    left: 0px;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px;
}

a.a-footer{
  color: #428bca;
}

.img-tel{
    width: 30px;
    position: relative;
    bottom: 2px;
}

#footer {
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
    background-color: rgba(245, 248, 250, 0.59);
    overflow: hidden;
    margin-bottom: 30px;
}

.caja-fo-red {
    height: 39px;
    width: 26px;
    float: left;
    margin-top: 0px;
    margin-bottom: 14px;
    position: relative;
    left: -17px;
    top: 45px;
}

.img-foot-red {
    height: 30px;
    width: 30px;
    float: left;
    margin-top: -47px;
    margin-bottom: 0px;
    object-fit: scale-down;
}

img.editablelink.fo {
    position: absolute;
    left: 0px;
    bottom: 20px;
    z-index: 100000;
}

div.image-upload.fo {
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 100000;
}

.box-footer{
    width: 79%;
    height: 60px;
    object-fit: cover;
    margin-top: 12px;
}

.form-control.fot {
    border-radius: 0px;
    height: 38px;
    font-size: 11px;
    font-weight: 700;
    width: 48%;
    margin-top: 24px;
    float: left;
    right: 15px;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.btn-default.sus {
    color: white;
    background-color: #666465;
    border-color: #666465;
    border-radius: 0px;
    width: 25%;
    margin-top: 24px;
    font-weight: 600;
    float: left;
    height: 38px;
    left: 18px;
    position: relative;
    padding-top: 5px;
}

.btn-default.sus:hover {
    color: #666465;
    background-color: white;
    border-color: #ccc;
    border-radius: 0px;
    width:25%;
    margin-top: 24px;
    font-weight: 600;
    height: 38px;
    left: 18px;
    float: left;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-default.sus-h {
    color: white;
    background-color: #666465;
    border-color: #666465;
    border-radius: 0px;
    width: 26%;
    margin-top: 24px;
    font-weight: 600;
    float: left;
    height: 38px;
    left: 34px;
    position: relative;
    padding-top: 4px;
}

.btn-default.sus-h:hover {
    color: #666465;
    background-color: white;
    border-color: #ccc;
    border-radius: 0px;
    width: 26%;
    margin-top: 24px;
    font-weight: 600;
    height: 38px;
    left: 34px;
    float: left;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.firma {
    text-align: left;
    position: relative;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 12px;
    font-weight: 300;
}

.firma-2 {
    text-align: center;
    position: relative;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 12px;
    font-weight: 300;
}

.firma-3 {
    text-align: right;
    position: relative;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 12px;
    font-weight: 300;
}

.form-group.footer{
    margin-bottom: 19px;
    margin-left: 2px;
}


.f-min {
    border-top: 1px solid #E9E9ED;
    border-bottom: 1px solid transparent;
}

.kop {
    font-size: 15px;
    color: #282c3f;
    font-weight:400;
    width: 131%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 22px;
    right: 26px;
    text-align: left;
    margin-top: 13px;
    text-transform: uppercase;
}

hr.new-f {
    margin-top: 32px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #E9E9ED;
    width: 96%;
    right: 30px;
    position: relative;
}

hr.f-min-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px #E9E9ED;
    width: 98%;
    position: relative;
    right: 11px;
    float: left;
}

.vop {
    font-size: 14px;
    color: #555;
    font-weight: 600;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 0px;
    right: 13px;
    text-align: left;
    margin-top: 13px;
}


.vop-2{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.87);
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 5px;
    right: 13px;
    text-align: left;
    margin-top: 5px;
    font-weight: 500;
}

.breadcrumb {
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    right: -3px;
    position: relative;
}

.breadcrumb>li {
    display: inline-block;
    color: #696b79;
    font-weight: 300;
    font-size: 15px;
}

.bre{
    font-size: 14px;
    color: #696b79;
    font-weight: 300;
}

.container.min-2{
    width: 943px;
}

.col-md-2.y-1 {
    width: 172px;
    margin-left: -25px;
}

.col-md-2.y-2 {
    width:172px;
}

.col-md-2.y-3 {
  width:172px;
}

.col-md-2.y-4 {
    width: 232px;
}

.col-md-2.y-5 {
    width: 205px;
    margin-left: -68px;
}

.alme {
    margin-left: -10px;
    padding: 0px;
    padding-right: 9px;
}

.alme-2 {
    margin-left: 0px;
    padding: 0px;
    padding-right: 9px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content:  none;
}

.wer{
     text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

.img-foot-red-pa {
    height: 55px;
    width: auto;
    float: left;
    margin-top: -47px;
    margin-bottom: 0px;
    object-fit: scale-down;
    right: 0px;
    position: relative;
    padding: 0px;
}

.img-foot-red-pa.espe {
    height: 28px;
    top: 11px;
    width: auto;
    float: left;
    margin-top: -47px;
    margin-bottom: 0px;
    object-fit: scale-down;
    right: 0px;
    position: relative;
    padding: 0px;
}


div.image-upload.fe {
    position: absolute;
    left: 100px;
    top: -48px;
    z-index: 100000;
}

.opi {
    text-align: left;
    float: left;
    color: #94989f;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    width: 100%;
}

.img-cam{
    width: 194%;
    position: relative;
    right: 12px;
}

/*----------------------------------------------Responsive-----------------------------------*/

@media (max-width: 991px){
    .no-doti {
    position: relative;
    left:0px;
    width: 100%;
}


.container.min-2{
    width: 100%;
}


}

@media (max-width: 768px){
    .btn-default.sus {
    color: white;
    background-color: #666465;
    border-color: #666465;
    border-radius: 0px;
    width: 33%;
    margin-top: 24px;
    font-weight: 600;
    float: left;
    height: 38px;
    left: 0px;
    position: relative;
    padding-top: 5px;
}
.btn-default.sus:hover {
    color: #666465;
    background-color: white;
    border-color: #ccc;
    border-radius: 0px;
    width: 33%;
    margin-top: 24px;
    font-weight: 600;
    height: 38px;
    left: 0px;
    float: left;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.col-md-2.y-5 {
    width: 181px;
    margin-left: 0px;
    margin-top: 90px;
}

}


@media (max-width: 767px){
.inform-comerc {
    width: 100%;
    position: relative;
    left: 0px;
    z-index: 100;
}

.inform-comerc-2 {
    margin-left: 0px;
    width: 100%;
}

.d-o {
    margin-right: 0px;
    position: relative;
    margin-left: 0px;
    width: 100%;
    top: -4px;
    /* left: 338px; */
    padding: 0px;
}

.no-dot {
    margin-bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
}

.no-doti {
    position: relative;
    left: 0px;
    width: 100%;
    text-align: left;
    padding: 0px;
}

.ul-1{
    text-align:left;
    width: 100%;
}

.ul-2{
    width: 100%;
    text-align: left;
}

.pas-2 {
    text-align: left;
    margin-left: -3px;
    width: 100%;
    color: gray;
    font-size: 15px;
}

.pas-3 {
    margin-left: 0px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: gray;
}

.pas-4 {
    color: gray;
    font-size: 15px;
    text-align: left;
    width: 100%;
}
.caja-fo-red {
    height: 39px;
    width: 26px;
    float: initial;
    margin-top: 42px;
    margin-bottom: 0px;
    position: relative;
    left: 0px;
}

.img-foot-red {
    height: 30px;
    width: 30px;
    float:initial;
    margin-top: -47px;
    margin-bottom: 0px;
    object-fit: scale-down;
}

.form-group.footer {
    margin-bottom: 15px;
    margin-top: -101px;
}

.btn-default.sus {
    color: white;
    background-color: #666465;
    border-color: #ccc;
    border-radius: 0px;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    right: 0px;
    left: 0px;
}

.btn-default.sus:hover {
    color:#666465  ;
    background-color: white;
    border-color: #ccc;
    border-radius: 0px;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    right: 0px;
    left: 0px;
}

.btn-default.sus-h {
    color: white;
    background-color: #666465;
    border-color: #666465;
    border-radius: 0px;
    width: 100%;
    margin-top: 12px;
    font-weight: 600;
    float: left;
    height: 38px;
    right: 0px;
    position: relative;
    padding-top: 8px;
    margin-bottom: 20px;
    left: 0px;
}


.btn-default.sus-h:hover {
    color: #666465;
    background-color: white;
    border-color: #ccc;
    border-radius: 0px;
    width: 100%;
    margin-top: 12px;
    font-weight: 600;
    height: 38px;
    float: left;
    position: relative;
    right: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    left: 0px;
    padding-top: 8;
}

.ul-22 {
    font-size: 12px;
    color: #555;
    font-weight: 600;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 20px;
    right: 0px;
    text-align: left;
    margin-top: 13px;
}

.form-control.fot {
    border-radius: 0px;
    height: 27px;
    font-size: 11px;
    font-weight: 700;
    width: 100%;
    margin-top: 24px;
    float: left;
    right: 0px;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.ul-22-0 {
    font-size: 10px;
    color: #555;
    font-weight: 600;
    width: 100%;
    right: 0px;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin-bottom: 95px;
}

.col-md-2.y-1 {
    width: 100%;
    margin-left: 4px;
}

.col-md-2.y-2 {
    width: 100%;
    margin-left: 4px;
}

.col-md-2.y-5 {
    width: 100%;
    margin-left: 4px;
    margin-top: 65px;
}

.img-cam {
    width: 48%;
    position: relative;
    right: 0px;
}

.alme {
    margin-left: 3px;
    padding: 0px;
    padding-right: 10px !important;
}

.kop {
    font-size: 11px;
    color: #282c3f;
    font-weight: 600;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 10px;
    right: 13px;
    text-align: left;
    margin-top: 13px;
    text-transform: uppercase;
}

.dori{
    padding: 0px;
    padding-left: 4px;
}

.firma {
    text-align: left;
    position: relative;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 13px;
}
.firma-2 {
    text-align: left;
    position: relative;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 13px;
}

.firma-3 {
    text-align: left;
    position: relative;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 13px;
}

.vop {
    font-size: 14px;
    color: #555;
    font-weight: 600;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 0px;
    right: 0px;
    text-align: left;
    margin-top: 13px;
}

.vop-2 {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.87);
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 5px;
    right: 0px;
    text-align: left;
    margin-top: 5px;
    font-weight: 500;
}


hr.new-f {
    margin-top: -9px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ebedef;
    width: 79%;
    right: -67px;
    position: relative;
}

.f-min {
    border-top: 1px solid #ebedef;
    border-bottom: 1px solid transparent;
}

.img-foot-red-pa {
    height: 55px;
    width: 125px;
    float: left;
    margin-top: -52px;
    margin-bottom: 56px;
    object-fit: scale-down;
    right: 9px;
    position: relative;
    padding: 0px;
}

.img-foot-red-pa.ch {
    height: 55px;
    width: 125px;
    float: left;
    margin-top: -67px;
    margin-bottom: 30px;
    object-fit: scale-down;
    right: 3px;
    position: relative;
    padding: 0px;
}
.img-foot-red-pa.co {
    height: 55px;
    width: 125px;
    float: left;
    margin-top: -67px;
    margin-bottom: 30px;
    object-fit: scale-down;
    right: 1px;
    position: relative;
    padding: 0px;
}

}

@media (max-width: 700px){
    .caja-fo-red {
    height: 39px;
    width: 26px;
    float: initial;
    margin-top: 42px;
    margin-bottom: 0px;
    position: relative;
    left: 78px;
}

}

@media (max-width: 580px){
    .caja-fo-red {
    height: 39px;
    width: 26px;
    float: initial;
    margin-top: 42px;
    margin-bottom: 0px;
    position: relative;
    left: 54px;
}

}

@media (max-width: 500px){
    .caja-fo-red {
    height: 39px;
    width: 26px;
    float: initial;
    margin-top: 42px;
    margin-bottom: 0px;
    position: relative;
    left: 38px;
}

.op {
    text-align: left;
    float: left;
    color: #696e79;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    width: 60%;
    margin-bottom: 50px;
}

}

@media (max-width: 460px){
    .caja-fo-red {
    height: 39px;
    width: 26px;
    float: initial;
    margin-top: 42px;
    margin-bottom: 0px;
    position: relative;
    left: 30px;
}

}

@media (max-width: 414px){
.caja-fo-red {
    height: 39px;
    width: 26px;
    float: initial;
    margin-top: 17px;
    margin-bottom: 0px;
    position: relative;
    left: -17px;
}

.alme {
    margin-left: 4px;
    padding: 0px;
    padding-right: 10px !important;
}

.mi {
    margin-bottom: -39px;
    margin-left: 4px;
}

.inform-comerc {
    z-index: 0;
}

.f-min {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0px;
}

.container.min-2{
    padding:0px;
}

hr.new-f {
    margin-top: -9px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ebedef;
    width: 70%;
    right: -67px;
    position: relative;
}

.img-foot-red {
    height: 30px;
    width: 30px;
    float: initial;
    margin-top: -90px;
    margin-bottom: 0px;
    object-fit: scale-down;
}

.form-group.footer {
    margin-left: 0px;
    margin-right: 0px;
}
.col-md-2.y-5 {
    width: 100%;
    margin-left: 4px;
}

.ul-22-0 {
    font-size: 12px;
    color: #555;
    font-weight: 600;
    width: 100%;
    right: 0px;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin-bottom: 95px;
}

.susi {
    font-size: 14px;
    color: #535766;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 10px;
    right: 0px;
    text-align: left;
    margin-top: 17px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #E9E9ED;
    width: 97%;
}

.img-cam {
    width: 92%;
    position: relative;
    right: 15px;
}

}

@media (max-width: 375px){
.no-doti {
    position: relative;
    left: 0px;
    width: 100%;
    text-align: left;
    padding: 0px;
}

.inform-comerc {
    z-index: 0;
}

}

@media (max-width: 320px){
    .no-doti {
    height: 246px;

}

.inform-comerc {

    z-index: 0;
}

}

