html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body {
font-family: 'Fira Sans', sans-serif;
}

a{
    color: gray;
}

a:hover{
    text-decoration: none;
}

a:hover, a:focus {
    color: #2f2c2c;
    text-decoration: none !important;
}

li{
	list-style: none;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.guni{
    padding: 0px;
    width: 101%;
    margin-left: -3px;
}

img.editablelink {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1030 !important;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.box-pe{
	width: 100%;
	height: 155px;
	object-fit: cover;
}

.article-ho{
/*	overflow: hidden;*/
    padding: 0px 5px;
    margin-bottom: 11px;
}

.fi{
	margin-top: -18px;
    margin-left: -4px;
    width: 101%;
}

.text-box-home {
    position: absolute;
    bottom: 0px;
    width: 97%;
    color: rgba(0, 0, 0, 0.61);
    font-size: 28px;
    margin-bottom: 57px;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-center2{
    text-align: center;
}

.total-modal {
    font-weight: 600;
    text-align: right;
    padding-right: 13px !important;
}

.box-med{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.box-med-2{
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.box-med-3{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.article-ho-2{
	overflow: hidden;
    padding: 0px 5px;
    margin-bottom: 17px;
    margin-top: -100px;
}

.pin {
    float: left !important;
    background: #FF9D36 !important;
    font-size: 15px !important;
    padding: 12px 11px !important;
    color: white !important;
    height: 42px;
    width: 31%;
    cursor: pointer;
}

.align-form-contact {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    /* vertical-align: middle! important; */
    margin-top: 34px;
    padding-right: 0px;
    padding-bottom: 48px;
}

.fondo-contact {
    width: 50%;
    height: auto;
}

.fondo-form {
    width: 100%;
    object-fit: cover !important;
    height: 175px;
    margin-top: 0px;
}

.titulo-about{
    position: absolute;
    bottom: 0px;
    width:94%;
    color: white;
    font-size: 29px;
    padding-bottom: 85px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.btn-default.comprar-home {
    color: white;
    background-color: #FFBC4B;
    border-color: #FFBC4B;
    position: absolute;
    bottom: 20px;
    width: 50%;
    border-radius: 0px;
    height: 44px;
    left: 28%;
    text-align: center;
}

.btn-default.comprar-home:hover {
    color:#FFBC4B ;
    background-color:white;
    border-color: white;
    position: absolute;
    bottom:20px;
    width: 50%;
    border-radius: 0px;
    height: 44px;
    left: 28%;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



.coli {
    margin-top: 50px;
    position: relative;
    right: 30px;
}

.btn-block {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    right: 15px;
    color: white;
    background-color: #FF9D36;
    border-color: #FF9D36;
    border-radius: 5px;
    height: 45px;
    float: left;
    font-size: 13px;
    font-weight: 500;
}

.btn-block:hover {
    display: block;
    width: 100%;
    background-color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
    color: #FF9D36;
    background-color: white;
    border-color: #FF9D36;
    border-radius: 5px;
    height: 45px;
    float: left;
    position: relative;
    right: 15px;
    font-size: 13px;
    font-weight: 500;
}
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: 300;
}

.text-cont {
    margin-top: 40px;
    border-bottom: 1px solid #d87435;
    text-transform: uppercase;
    color: #d87435;
    padding-left: 20px;
    font-size: 16px;
}

.text-black {
    margin-top: 40px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

.fri{
    border-bottom: 1px solid #ddd;
}

.drim{
    overflow: hidden;
}
#cargando {
    position:absolute;
    top: 0;
    width:100%;
    height:100%;
    object-fit: scale-down;
    background:#fff url('https://84static.loadingplay.com/static/images/d918b450cb28b610aa5126e8e6c8c61d_loading.gif') no-repeat center;
}

.modal-content.co{
 background: url('https://7static.loadingplay.com/static/images/ba9df26d27f2e81e95c0ae8afff603dd_editable.png') no-repeat center;
}

.modal-title.co {
    margin: 0;
    line-height: 1.42857143;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    margin-top: 37px;
}

.lan{
    border: 1px solid #FF9D36;
    font-size: 16px;
    padding-left: 22px;
    padding-right: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    color: #FF9D36;
    font-weight: 500;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lan-2{
    color: #83c7c4;
    margin-top: 28px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    line-height: 19px;
    width: 92%;
}

.lan-3{
    margin-top: 48px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    line-height: 19px;
    width: 92%;
    font-weight: 600;
}

.modal-header.co {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid transparent;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}

input.cup{
    background-color: #EEEEEE;
    -webkit-appearance: caret;
    width: 87%;
    margin-top: 23px;
    margin-bottom: 17px;
}

.btn-warning.en{
    text-align: center;
    color: white;
    background-color: #FF9D36;
    width: 41%;
    -webkit-appearance: caret;
    font-size: 15px;
    font-weight: 200;
    padding-top: 5px;
    border-radius: 0px;
    padding-bottom: 3px;
}

.modal-footer.co {
    padding: 15px;
    text-align: right;
    border-top: 1px solid transparent;
}

.btn-lg.co {
    padding: 5px 17px;
    font-size: 9px;
    line-height: 1.33;
    border-radius: 6px;
    margin-left: 16px;
    background-color: rgba(128, 128, 128, 0.68);
    border: 1px solid rgba(128, 128, 128, 0.68);
}
.modal-content{
    webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.fa-angle-down.for {
    float: right;
    font-size: 21px !important;
    position: relative;
    top: 38px;
    right: 11px;
}

.form-group.form-ran{
    margin-left: -118px;
}

.box-costos{
    width: 100%;
    margin-top: 40px;
    object-fit: contain;
}

.img-tiempo{
    object-fit: scale-down;
    width: 100%;
    margin-top: -126px;
}
.text-tiempo-envios{
    position: relative;
    z-index: 111111;
}
/*-----------------------------------------------------Responsive---------------------------------------*/

@media (max-width: 991px){
	.article-ho-2 {
    overflow: hidden;
    padding: 0px 5px;
    margin-bottom: 17px;
    margin-top: 0px;
}

.align-form-contact {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 55px;
    width: 100%;
}

.coli {
    margin-top: 50px;
    position: relative;
    right: 14px;
}

.form-group.con {
    margin-bottom: 19px;
    margin-left: -8px;
}

.btn-block {
    display: block;
    width: 100%;
    border-radius: 0px;
    float: left;
    position: relative;
    right: 6px;
}

.btn-block:hover {
    display: block;
    width: 100%;
    border-radius: 0px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
    position: relative;
    right:0px;
}

.img-tiempo {
    object-fit: scale-down;
    width: 100%;
    margin-top: 0px;
}

}



@media (max-width: 767px){
    body{
     /*   background-color:rgba(213, 214, 217, 0.14);*/
        overflow-x: hidden;
    }

    .fondo-contact {
    width:100%;
    height: auto;
    }

    .guni {
    padding: 0px;
    width: 102%;
    margin-left: -5px;
    }

    .modal-body {
    position: relative;
    padding: 15px;
    font-weight: 300;
    padding-right: 0px;
    padding-left: 0px;
    
    }
   /* BOTON DE EMERGENCIA CORREGIR !!! */
   .limpiar_modal{

    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent;
    border-radius: 4px !important;
    position: relative !important;
    left: -61% !important;
    bottom: 13px;
    margin-left:-10%;
    }

    input[type=radio] {
    height: 20px;
    width: 70px;
    position: relative;
    left: -31px;
    top: -1px;
    }

}



@media (max-width: 414px){
.box-med {
    width: 101%;
    height: 369px;
    object-fit: contain;
}

.cli {
    margin-bottom: 11px !important;
    margin-top: -8px;
}

.article-ho{
   margin-bottom: 11px !important;
}


.total-modal {
    text-align: right;
    padding-right: 0px !important;
}

}

@media (max-width: 375px){

.article-ho{
   margin-bottom: 0px !important;
}

.cli {
    margin-bottom: 11px !important;
    margin-top: -20px;
}


}

@media (max-width: 360px){
    .cli {
    margin-bottom: 11px !important;
    margin-top: -27px;
}

}

@media (max-width: 320px){
.box-med {
    width: 101%;
    height: 369px;
    object-fit: contain;
    margin-bottom: 0px;
}

.cli {
    margin-bottom: -61px !important;
    margin-top: -47px;
}


.article-ho {
    margin-bottom: -64px !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 11px;
}

}


