.header {
    padding: 0;
    @include atSmall {
        margin: 3rem auto 4rem auto;
    }
    &-content {
        padding: 0 15px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-btn {
        display: block;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        margin-right: 1.5rem;
        @include atSmall {
            display: none;
        }
        &-line {
            height: 4px;
            width: 2.5rem;
            background-color: $gray-dark;
            & + & {
                margin-top: 4px;
            }
        }
    }
    &-logo {
        display: block;
        width: 35%;
        max-width: 340px;
        height: auto;
        padding: 1.5rem 0;
        @include atSmall {
            padding: 0;
            width: 25%;
            max-width: 200px;
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include atMedium {
            width: 25%;
            max-width: none;
        }
        @include atLarge {
            width: 20%;
            max-width: 305px;
        }
        &-img {
            width: 100%;
            height: auto;
        }
    }
    &-nav {
        background-color: $gray-dark;
        text-align: center;
        padding: 2rem;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        display: none;
        @include atSmall {
            text-align: left;
            padding: 1.5625rem 0;
            position: static;
            transform: none;
        }
    }
    &-menu {
        @include atSmall {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    &-item {
        @include atSmall {
            font-size: 1rem;
        }
        @include atSmall {
            font-size: 1.125rem;
        }
        @include atLarge {
            font-size: 1.25rem;
        }
        & + & {
            margin-top: 1rem;
            @include atSmall {
                margin-top: 0;
                margin-left: 1.5rem;
            }
            @include atMedium {
                margin-left: 2rem;
            }
            @include atLarge {
                margin-left: 3.125rem;
            }
        }
        &-expander {
            display: none;
            @include atSmall {
                display: block;
                flex-grow: 1;
            }
        }
        &-col {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        &-icon {
            width: 25px;
            cursor: pointer;
            @include atMedium {
                width: 35px;
            }
            @include atLarge {
                width: 45px;
            }
        }
        &-arrow {
            max-width: 10px;
        }
    }
    &-link {
        display: inline-block;
        @include linkStates($white, none);
        @include atSmall {
            margin-top: 0.5rem;
        }
    }
}