.popup {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    overflow: auto;
    &-active {
        pointer-events: all;
        .popup {
            &-backdrop {
                pointer-events: all;
            }
            &-content {
                top: 10%;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    &-backdrop {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-content {
        pointer-events: none;
        opacity: 0;
        transition: all .25s;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        width: calc(100% - 30px);
        max-width: 825px;
        transform: translateX(-50%);
        background-color: $white;
        box-shadow: 7px 7px 15px rgba(35, 31, 32, 1);
        padding: 2rem;
        margin-bottom: 4rem;
        @include atSmall {
            padding: 3.125rem;
            width: 80%;
        }
        &-close {
            width: 1.667rem;
            height: auto;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    }
}