<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videocorp Latinoamérica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <header class="container header">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-main">
                    <a href="#" class="header-logo-wrapper"><img src="../static/img/logo.png" alt="Logo de Videocorp Latinoamérica" class="header-logo"></a>
                    <div class="header-buscar">
                        <img src="../static/img/i-lupa.png" alt="Buscar" class="header-buscar-icono">
                        <input type="text" class="header-buscar-input" placeholder="BUSCA AQUÍ TUS PRODUCTOS">
                    </div>
                    <h4 class="header-tel">LLÁMANOS &nbsp;&nbsp;&nbsp;<a href="tel:800 800 340 560" class="header-tel-link">800 800 340 560</a></h4>
                    <div class="visible-xs header-btn">
                        <div class="header-btn-linea"></div>
                        <div class="header-btn-linea"></div>
                        <div class="header-btn-linea"></div>
                    </div>
                </div>
                <nav class="header-nav">
                    <ul class="header-menu">
                        <li class="header-menu-item"><a href="#" class="header-menu-link">AUDIO PROFESIONAL</a></li>
                        <li class="header-menu-item header-menu-item-trigger">
                            <a href="#" class="header-menu-link">VIDEO PROFESIONAL</a>
                            <div class="header-submenu-wrapper">
                                <ul class="header-submenu">
                                    <li class="header-submenu-item"><a href="#" class="header-submenu-link">LINEA 1</a></li>
                                    <li class="header-submenu-item"><a href="#" class="header-submenu-link">LINEA 2</a></li>
                                    <li class="header-submenu-item"><a href="#" class="header-submenu-link">LINEA 3</a></li>
                                    <li class="header-submenu-item"><a href="#" class="header-submenu-link">LINEA 4</a></li>
                                    <li class="header-submenu-item"><a href="#" class="header-submenu-link">LINEA 5</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu-item"><a href="#" class="header-menu-link">EDUCACIÓN</a></li>
                        <li class="header-menu-item"><a href="#" class="header-menu-link">AUDIOVISUAL</a></li>
                        <li class="header-menu-item"><a href="#" class="header-menu-link">ACCESORIOS</a></li>
                        <li class="header-menu-item"><a href="#" class="header-menu-link header-menu-link-acento">OFERTAS</a></li>
                        <li class="header-menu-item header-menu-item-expander"></li>
                        <li class="header-menu-item"><a href="#" class="header-menu-link">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>
